@charset "gb2312";
/* CSS Document */
body{
	background: #eaeaea;
	font-family: "微软雅黑","宋体", tahoma, Srial, helvetica, sans-serif;
}
.index-header,.header_bottom{
	font-family: arial, "宋体", georgia, verdana, helvetica, sans-serif;
}
a{color:#0f82e4;}
/*panel*/
.panel-wrap { padding:2px; margin-top:20px;}
.panel-small { width:370px;}
.panel-normal { width:520px}
.panel { position:relative}
.panel .arrow-top,.panel .arrow-down { background: url(../images/icon-arrow-up.gif) no-repeat; width:19px; height:12px; position:absolute; top:-12px; left:20px;}
.panel .arrow-down { background-image:url(../images/icon-arrow-down.gif); top:140px}
.panel .panel-body {*zoom:1;}
.panel .panel-body-normal { margin-top:20px; min-height:80px;}
.panel-padl{
	padding-left:50px;
}
.panel .head {width:80px;display:inline;}
.panel .head img { width:60px; height:60px; margin-right:10px;}
.panel ul { margin:0}
.panel .info-pri li,.panel .info-sub li{float: left;
display: inline;
font-size: 12px;
padding-right: 10px;
height:15; line-height:15px;
border-right: solid 1px #ccc;
margin-right: 10px; color:#a0a0a0}
.panel .info-pri li { color:#666}
.panel .info-pri .last,.panel .info-sub  .last { border:none}
.custom-panel { background:#e7e7e7}
.custom-panel .custom-bg { border:1px solid #cfcfcf; background:#fff; padding:0}
/*.panel .inner { padding:15px; padding-bottom:0; overflow:visible}*/
.panel .content span { margin-right:5px}
.panel .content p { margin-bottom:4px; font-size:12px}
.panel .info-pri,.panel .info-sub { height:18px; line-height:18px; margin-bottom:4px}
.panel-footer { background:#f8f8f8;border-top:1px solid #ececec; font-size:12px; margin-top:10px;}
.panel-footer .link { height:26px; line-height:26px}
.panel-footer .link .sep { color:#d2d2d2}
.panel-footer .link a { margin-right:10px}
.panel-footer .tips { color:#aaa; margin-right:10px; border-right:1px solid #ccc; padding-right:10px;}
.panel .panel-footer  .inner-small { padding:5px 15px;}
.icon-a2a,.icon-a2b,.icon-b2a,.icon-b2b { background:url(../images/icon-a2a.png); width:28px; height:16px; margin-right:5px; display:inline-block; vertical-align:middle;*margin-top:0px}
.icon-a2b { background:url(../images/icon-a2b.png)}
.icon-b2a { background:url(../images/icon-b2a.png)}
.icon-b2b { background:url(../images/icon-b2b.png)}
.panel-group b { color:#ff6600} 
.panel-group form { margin:0}
.panel-group .checkbox { margin:0 10px 6px 0}
.group-add .dropdown-menu { width:160px;}
.panel .panel-head { padding-right:60px;*padding-right:30px; height:30px; line-height:30px; background:url(../images/panel-title-bg.gif); border-bottom:1px solid #999}
.panel .panel-head .close  { margin-right:-50px; margin-top:5px; display:inline; *font-size:14px;filter:alpha(opacity=20)}
.panel .panel-head h2 { font-size:12px; font-weight:bold; margin:0; line-height:30px; text-indent:1em; float:left}
.alert { font-size:12px}
.panel .control-label { width:60px; margin-right:10px;}
.panel .control-group { margin-bottom:10px; margin-left:10px}
.panel .controls { margin-left:0px}
.panel .panel-body-normal .tips { margin:50px 40px; font-weight:bold; text-align:center}
.panel .panel-body-normal .inner { margin:0px 30px; padding:0}
.panel .panel-body-normal .layer01 .inner { padding:15px; margin:0}
.panel .add-people input { margin:5px 10px; width:160px;}
.panel .dropdown-menu .list-select { padding:8px 0;padding-left:50px; cursor:pointer; display:block; width:154px}
.panel .dropdown-menu .list-select img { margin-left:-40px; float:left; margin-right:10px}
.panel .dropdown-menu .list-select p { margin-bottom:5px;}
.panel .dropdown-menu .list-select .name { margin-top:3px}
.attach-model,.attach-model-large,.attach-model-xlarge{ position:relative; margin-bottom:10px;}
.attach-wrap{ position:absolute; background:#f7f7f7; width:370px; top:47px; left:0px;font-size:12px; border:1px solid #e1e1e1; line-height:24px; height:24px; padding:0}
.attach-model-large textarea { width:484px}
.attach-model-large .attach-wrap { width:488px}
.attach-model-xlarge textarea { width:580px}
.attach-model-xlarge .attach-wrap { width:592px}
.attach-model textarea { height:42px; margin-bottom:20px}

.attach-wrap a{ padding-left:5px; margin-left:5px; cursor:pointer; color:#808080;}
.panel-body-normal .inner-nomal { margin:0 15px;}
.remark textarea { width:480px}
.remark-large textarea { width:584px}
.panel .control-group .controls { float:left}
.panel .control-group .control-label { *width:60px; float:left; text-align: right; height:32px; line-height:32px}

.score-model { font-size:12px; margin:0 0 20px 0}
.score-color { color:#ff8800; }
.card-link { font-weight:bold; margin-left:20px}
.require-red { color:#F00}
.textarea-small { width:200px; height:36px; margin-bottom:-30px}
.gray-color { color:#b2b2b2}
.score-model li { list-style:none; margin-bottom:10px; }
.score-model li input { margin-bottom:0;margin-right:5px}
.score-model ul li p { line-height:200%}
.score-model .indent { margin-left:120px}
.score-model .head { font-weight:bold}
.score-model li .title{display:inline-block; width:80px; text-align:right; margin-right:5px;}
.icon-sign { width:36px; height:36px; display:inline-block; background:url(../images/icon-sign.png); vertical-align:middle; margin-right:10px}

.dropdown { position:relative; height:1%; z-index:1000}
.dropdown-menu {position: absolute;
top: 100%;
left: 0;
z-index: 1000;
float: left;
min-width: 160px;
_width:160px;
padding: 5px 0;
margin: 2px 0 0;
list-style: none;
background-color: #000;
border: 1px solid #ccc;
border: 1px solid rgba(0,0,0,0.2);
/*-webkit-border-radius: 6px;
-moz-border-radius: 6px;
border-radius: 6px;
*/-webkit-box-shadow: 0 5px 10px rgba(0,0,0,0.2);
-moz-box-shadow: 0 5px 10px rgba(0,0,0,0.2);
box-shadow: 0 5px 10px rgba(0,0,0,0.2);
-webkit-background-clip: padding-box;
-moz-background-clip: padding;
background-clip: padding-box;}
.dropdown-menu li a {
display: block;
padding: 3px 20px;
clear: both;
font-weight: normal;
line-height: 20px;
color: #fff;
white-space: nowrap;}
.dropdown-menu li a:hover {
color: #fff;
text-decoration: none;
background-color: #444;}
.float-list li { float:left;}

/*table样式 start*/
table {
width: 100%;
margin-bottom: 20px;
max-width: 100%;
background-color: transparent;
border-collapse: collapse;
border-spacing: 0;}
td{ word-break:break-all;}
table th, .table td {
padding: 8px;
line-height: 20px;
text-align: left;
vertical-align: top;
border-top: 1px solid #ddd;}
.table thead th {
vertical-align: bottom;
}
.table th {
font-weight: bold;
}

.span5 { width:366px}
.span1 { width:46px}
.span2 { width:140px}
.space-b { margin-bottom:10px}
.space-b-large { margin-bottom:20px}
.space-t { margin-top:6px}
.space-t-large { margin-top:12px}
.panel .card_content { width:360px}
.ul-space li { margin-bottom:4px}
.format-font { letter-spacing:1px; word-spacing:2px;line-height:2em;text-align:justify;
}
.card-info { padding-bottom:15px;}
.line-b { border-bottom:1px dashed #ccc}
.panel-body-normal .well { margin:10px; padding:10px}
.panel-body-normal .well .input-text { width:470px;*width:460px;
height:80px;}
.panel-body-normal .well .pos_rel li { height:30px; line-height:30px;}
.panel-body-normal .input-text-small { width:420px}
.table .span3 { margin:0}
.table .align-r {text-align:right}
.remark .layer01 { left:0}
.sj-input{
	width:244px;
}
.sj-input02{
	width:200px;
}
/**/
/**/
/**/
/*来龙去脉*/
.contentLQ{ height:560px; position:relative; padding:0px 40px;}
.pagetextbdd{ position:absolute; top:202px; width:40px; height:194px; background-color:#dcdcdc; text-align:center; border-radius:6px;}
.pagetextbdd p{ width:12px; line-height:14px; margin:16px auto 0px;}
#centerMid{ background:url(../images/llqm/LQcontentBg.png) center center no-repeat; _background:url(../images/llqm/LQcontentBg6.png) center center no-repeat; position:relative; height:100%;}
.centerMidTitle{ width:120px; height:120px; position:absolute; top:220px; left:248px;}
.centerMidTitle p{ font-size:18px; font-family:\5FAE\8F6F\96C5\9ED1; font-family:Arial, Helvetica, sans-serif，'宋体',tahoma, Srial; color:#FFF; text-align:center;}
.listUnitLQ{ position:absolute; top:80px;}
.listUnitLQ_left{ left:52px;}
.listUnitLQ_right{ right:52px;}
.listUnitLQ_left .listUnitL1{ margin-left:57px;}
.listUnitLQ_left .listUnitL2{ margin-left:17px;}
.listUnitLQ_left .listUnitL3{ margin-left:0px;}
.listUnitLQ_left .listUnitL4{ margin-left:17px;}
.listUnitLQ_left .listUnitL5{ margin-left:57px;}
.listUnitLQ_right .listUnitL1{margin-left:0px;}
.listUnitLQ_right .listUnitL2{margin-left:42px;}
.listUnitLQ_right .listUnitL3{margin-left:58px;}
.listUnitLQ_right .listUnitL4{margin-left:42px;}
.listUnitLQ_right .listUnitL5{margin-left:0px;}


.listUnitLQ li{ width:120px; height:61px; padding:8px; color:#FFF; position:relative; margin-bottom:4px; zoom:1;}
.listUnitLQ_left li{  background:url(../images/llqm/LQlistBg-red.png); _background:url(../images/llqm/LQlistBg-red6.png);}
.listUnitLQ_right li{  background:url(../images/llqm/LQlistBg-blue.png); _background:url(../images/llqm/LQlistBg-blue6.png);}

.listUnitLQ li table{ margin:0;}
.listUnitLQ h4{ margin:0px; padding:0px; line-height:22px;}
.unitTdText{ margin:0px 16px; line-height:18px; vertical-align:middle}

.textPaopao{ position:absolute; top:-40px; display:none; }
.textPaopaoM{ height:63px;}
.listUnitLQ_left .textPaopao{
	left:110px;
	padding-right:7px;
	background:url(../images/llqm/paopaoBgLr.png) top right no-repeat;
   _background:url(../images/llqm/paopaoBgLr6.png) top right no-repeat;
}

.listUnitLQ_left .textPaopaoM{
	padding:6px 0px 11px 7px;
	background:url(../images/llqm/paopaoBgLl.png) top left no-repeat;
   _background:url(../images/llqm/paopaoBgLl6.png) top left no-repeat;
}

.listUnitLQ_right .textPaopao{ 
	right:110px;
	padding-left:7px;
	background:url(../images/llqm/paopaoBgRl.png) top left no-repeat;
   _background:url(../images/llqm/paopaoBgRl6.png) top left no-repeat;
}
.listUnitLQ_right .textPaopaoM{
	padding:6px 7px 11px 0px;
	background:url(../images/llqm/paopaoBgRr.png) top right no-repeat;
   _background:url(../images/llqm/paopaoBgRr6.png) top right no-repeat;
}

.listUnitLQ li:hover .textPaopao{ display:block;}

.textPaopaoM p{ line-height:18px; margin:0px; max-width:260px; white-space:nowrap; text-overflow:ellipsis; /*overflow:hidden; */display:block;}
.textPaopao .textPaopaoTitle{ border-bottom:#3796c1 1px solid; line-height:20px;}

.listUnitLQ_left .textPaopao .textPaopaoTitle{ border-bottom:#8177ED 1px solid;}
.listNum32{ width:32px; height:32px; display:block; background:url(../images/llqm/listnumBg.png); _background:url(../images/llqm/listnumBg6.png); position:absolute; top:0px; color:#000; text-align:center; line-height:32px; font-size:14px; font-family:Arial, Helvetica, sans-serif;}
.listUnitLQ_left .listNum32{ left:-9px;}
.listUnitLQ_right .listNum32{ right:-9px;}

/**/
.pagechoose{ position:absolute; left:260px;}
.pagechoose a{ width:94px; height:40px; display:block; overflow:hidden; background-image:url(../images/llqm/choosebtn.png); _background-image:url(../images/llqm/choosebtnie6.png); text-align:center; font-size:12px; color:#000; line-height:40px;}
.pagechoose .prevLQbtn{ background-position:-188px 0px; color:#FFF;}
.pagechoose .nextLQbtn{ background-position:-188px -40px; color:#FFF;}
.pagechoose .prevLQbtn:hover{ background-position:-94px 0px; color:#FFF;}
.pagechoose .nextLQbtn:hover{ background-position:-94px -40px; color:#FFF;}
.pagechoose .prevNone{ background-position:0px 0px; color:#000;}
.pagechoose .nextNone{ background-position:0px -40px; color:#000;}
.pagechoose .prevNone:hover{ background-position:0px 0px; color:#000;}
.pagechoose .nextNone:hover{ background-position:0px -40px; color:#000;}
/* 来龙去脉 end*/

/*导航页面*/
.instructionsfull{
	width:100%;
	height:100%;
	position:fixed;
	filter: alpha(opacity=50);
	opacity: 0.5;
	background-color: #000000;
	top: 0px;
	left: 0px;
	z-index: 999;
}

.popupPicBody{
	position:relative;
	box-shadow: 0px 0px 8px #fff;
	-moz-box-shadow: 0px 0px 8px #fff;
	-webkit-box-shadow: 0px 0px 8px #fff;
}
.popupTop,.popupBottom,.popupRight,.popupPic{ position:absolute; z-index:9999}
.popupTop{ width:722px; height:196px;}
.popupContent1{ background:url(../images/instructionsPic/1.png) left top no-repeat; top:-203px; left:147px;}
.popupContent2{ background:url(../images/instructionsPic/2.png) left top no-repeat; top:-203px; left:70px;}
.popupContent3{ background:url(../images/instructionsPic/3.png) left top no-repeat; top:-203px; left:147px;}
.popupContent9{ background:url(../images/instructionsPic/9.png) left top no-repeat;top:-203px; left:147px;}
.popupContent10{ background:url(../images/instructionsPic/10.png) left top no-repeat;top:-203px; left:147px;}
/*popupBottom*/
.popupBottom{ width:722px; height:175px;}
.popupContent4{ background:url(../images/instructionsPic/4.png) left top no-repeat; top:46px; left:-68px;}
.popupContent4-lt{ background:url(../images/instructionsPic/4-lt.png) left top no-repeat; top:46px; left:-68px;}
.popupContent4-0{ background:url(../images/instructionsPic/4-0.png) left top no-repeat; height:194px; top:46px; left:-46px;}
.popupContent5-0{ background:url(../images/instructionsPic/5-0.png) left top no-repeat; top:86px; left:-104px;}
.popupContent5-0-lt{ background:url(../images/instructionsPic/5-0-lt.png) left top no-repeat; top:86px; left:-104px;}
.popupContent5-1{ background:url(../images/instructionsPic/5-1.png) left top no-repeat; top:38px; left:-86px;}
.popupContent5-1-lt{ background:url(../images/instructionsPic/5-1-lt.png) left top no-repeat; top:38px; left:-86px;}
.popupContent5-1-5{ background:url(../images/instructionsPic/5-1-5.png) left top no-repeat; top:36px; left:-68px;}
.popupContent5-1-5-lt{ background:url(../images/instructionsPic/5-1-5-lt.png) left top no-repeat; top:36px; left:-68px;}
.popupContent5-2{ background:url(../images/instructionsPic/5-2.png) left top no-repeat; top:46px; left:-68px;}
.popupContent5-2-lt{ background:url(../images/instructionsPic/5-2-lt.png) left top no-repeat; top:46px; left:-68px;}
.popupContent6{ background:url(../images/instructionsPic/6.png) left top no-repeat; top:76px; left:20px;}
.popupContent6-lt{ background:url(../images/instructionsPic/6-lt.png) left top no-repeat; top:76px; left:20px;}
.popupContentc11{ background:url(../images/instructionsPic/c11.png) left top no-repeat; top:56px; left:-30px;}
.popupContentc12{ background:url(../images/instructionsPic/c12.png) left top no-repeat; top:56px; left:-38px;}
.popupContentc13{ background:url(../images/instructionsPic/c13.png) left top no-repeat; top:36px; left:-88px;}
.popupContentc14{ background:url(../images/instructionsPic/c14.png) left top no-repeat; top:56px; left:-38px;}
.popupContentc15{ background:url(../images/instructionsPic/c15.png) left top no-repeat; top:46px; left:-578px;}
.popupIconpic5{ width:46px; height:40px; background:url(../images/instructionsPic/5-0_1.png) left top no-repeat; position:absolute; left:-62px; top:-12px;}
/*popupRight*/
.popupRight{ width:746px; height:172px;}
.popupContent7{ background:url(../images/instructionsPic/7.png) left top no-repeat; top:40px; left:248px;}
.popupContent8{ background:url(../images/instructionsPic/8.png) left top no-repeat; top:40px; left:248px;}


.popupBody{ position:relative;}
.popupBtnTop{ position:absolute; height:30px; width:166px; top:120px; left:430px;}
.popupBody .btn{ margin-right:12px;}

/*找精英页面引导*/
.popupPicBody-jy{ position:relative;}
.popupContentc-cb{ width:18px; height:18px; top:100px; left:35px; cursor:pointer;}
.popupContentc-btn{ width:61px; height:22px; top:100px; left:156px;}
/*地区弹窗*/
.h-tc{width: 522px;font-size:14px;background: rgba(0,0,0,0.3);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#4C000000,endColorstr=#4C000000); }
.h-popupmain{padding:10px;}
.h-popupmain-top{position: relative;color: #fff; height: 40px;line-height: 40px;padding-left:15px;background: #0f82e4;font-size: 16px;}
.h-popclose{position: absolute;right: 15px;top:12px; cursor: pointer;}
.h-popupM{background: #fff;}
.h-tccon{padding:25px 15px;border-bottom:1px dashed #ccc;font-size: 14px; }
.h-tcBot{padding:30px 15px 15px 15px ;}
.h-pitch{display:inline-block;text-align: center;color: #0f82e4;font-size: 16px;
cursor: pointer;line-height:36px;height: 36px;border:2px solid #0f82e4;margin:0 20px;width: 116px; }
.h-tcxz{padding:15px 60px 30px 60px;}
.h-tcxz li{width: 118px;text-align: center;font-size: 14px;float: left;margin:0 10px 8px 0;
cursor: pointer;height: 38px;line-height: 38px;border:1px solid #ccc;color: #aeaeae; }
.h-tcxz li.h-MR0{margin:0 0 8px 0;}
.h-tcxz li:hover{color:#0f82e4;border:2px solid #0f82e4;width: 116px;height: 36px;line-height: 36px;}
.h-more-diqu{border-top:1px dashed #ccc;height: 40px;line-height: 40px;position: relative;margin:0 15px; }
.h-more-diqu a{position: absolute;right: 0;}
.h-h8{height: 8px;}
.f-xz70 {
    max-width: 70px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;

}
/************弹窗*************/	
.errorbg {
    display: inline-block;
    background-color: #e37781;
    font-size: 12px;
    color: #fff;
    padding: 5px 10px 5px 10px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    -khtml-border-radius: 2px;
    border-radius: 2px;
    line-height: 18px;
    height: 18px;
}
.dropdown {
    position: relative;
    z-index: auto;
}
.h-ts{width: 500px; padding: 10px;background: #A7A7A5;font-family: "微软雅黑";}
div[hc=bottom]{height:40px;background:#fff;}
.txt-l{ text-align: left;}.txt-c{ text-align: center;} .txt-r{text-align: right}
/*批量新增精英*/
.w760{ width:760px;}
.h-ts .bg_0f82e4{ background-color:#0f82e4}
.content-pad{padding: 20px 0 10px 10px;background-color:#fff; border-bottom:1px dashed #ccc;}
.btn-up{ display:inline-block;+display:inline; width:120px ; height:30px; line-height:30px; text-align:center; border:1px solid #ccc; background-color:#dbdbdb; border-radius:2px; -webkit-border-radius:2px; -ms-border-radius:2px; -moz-border-radius:2px; color:#777; font-size:14px; }
.btn-up:hover{ background-color:#d0cfcf;color:#777;}
.btn-sumb{ width:86px; font-size: 16px;height: 28px; line-height: 28px; color: #fff; text-align: center; float: right; margin: 7px 15px; cursor: pointer}

/*导出到精英汇*/
.pad{padding: 18px 10px;}
.input-wh{ height:26px; width:86px; padding:0; outline:none;}
.cont-tit{ margin:25px 0 0 15px; +height:28px;}
.z-btn-search{ display:inline-block; width:126px; height:30px; line-height:30px; text-align:center ;background-color:#0f82e4;color: #fff; }
.z-btn-search:hover,.btn-sumb:hover{ background-color:#016ecb;color:#fff ;}
.cont-tit li{float:left; width:138px; height:28px; line-height:28px; margin-right:10px;}
.cont-tit li a{float:left; width:138px; height:28px; line-height:28px;+width:138px; +height:28px; +line-height:28px; text-align:center; margin-right:10px; border:1px solid #ddd;color:#333;}
.cont-tit li a.on{ border-top:3px solid #0f82e4; border-bottom:1px solid #fff;height:26px; line-height:26px; }
.bor-top{ border-top:1px solid #ddd;}
.h+40{ +height:40px;}
.padt-25{ padding :25px 0 0 0;}
.padbt-25{ padding-bottom :25px ;}
.m-lr-10{ margin:0 10px 0 10px;}
.m-lr-15{margin: 0 15px 0 15px;}
.cont-tab{ margin-top:1px ; padding: 20px 5px 0 5px; font-family: "微软雅黑";}
.cont-tab table th{ background-color:#f5f5f5; height:40px; line-height:40px; padding:0 0 0 10px; border-bottom:1px solid #ddd; border-top:1px solid #ddd; color:#333; font-weight:lighter; text-align:center;  }
.z-pages{ text-align:right; margin: 0 15px 0 15px; padding-bottom:15px;border-bottom:1px dashed #ddd;}
.cont-tab table td{ height:40px; line-height:40px; border-bottom:1px solid #ddd;/*color:#777;*/padding-left:10px; }
.cont-tab table tr{color:#777;}
.z-pages ul li{ display:inline-block;+display:inline; margin-right:6px;  padding:3px 8px;border:1px solid #ddd; font-size:12px; }
.z-pages ul li.pagesnow{background-color:#0f82e4;color: #fff;border:1px solid #0f82e4; }
/*将他介绍给------列表查看*/
.w408{ width:408px;}
.marl_-2{ margin-left:-2px;}
.cont-tab table tr.trnow{ background-color:#0f82e4 !important;color:#fff ;}
.cont-tab table tr:hover{ background-color:#e7f2fc;}
.cont-tit ul span{ float:right;margin-right:5px; font-size:15px;}
.cont-tit ul span.mar_r-10{ margin-right:20px;}
.c_ff7418{color:#ff7418}
.font16{font-size:16px;}
.post-tit{padding: 20px 15px 20px 15px;}
.z-post{ width:420px; margin:0 auto;}
.z-post li{ float:left; width:118px; height:38px; line-height:38px; text-align:center; border: 1px solid #ccc; color: #aeaeae; border-radius:2px;-webkit-border-radius:2px; -ms-border-radius:2px; -moz-border-radius:2px;margin: 0 20px 8px 0; cursor: }
.z-post li:hover{width:116px; height:36px; line-height:36px; text-align:center; border: 2px solid #0f82e4; color: #0f82e4; border-radius:2px;-webkit-border-radius:2px; -ms-border-radius:2px; -moz-border-radius:2px;margin: 0 20px 8px 0; cursor:pointer;}
.bor-t-d{border-top:1px dashed #ddd;}
.h-tc .mt-10{ margin-top:10px;}
/*将他介绍给-----名片查看*/
.z-cardlist li{border:1px solid #ddd; margin-bottom:12px; width:698px; height:84px;}
.z-cardlist li:hover {border:1px solid #0f82e4;}
.cardlist-info{ margin-top:14px;}
.cardlist-pic{ margin:4px;width:70px; height: 70px; overflow:hidden;border:1px solid #ccc;  border-radius: 50%;text-align: center;-moz-border-radius:50%; -webkit-border-radius:50%; -ms-border-radius:50%;}
.z-f-icon28{ background:url(../../images/f-icon28.png) right top no-repeat; width:25px; height:25px; float:right;}
.z-souch-btn{    width: 96px;  height: 30px; font-size: 14px;line-height:30px; text-align: center;}
.raidus50{ border-radius:50%; -moz-border-radius:50%; -webkit-border-radius:50%; -ms-border-radius:50%;}
/*选择专场信息*/
.padt25{ padding-top:25px;}
.z-lable_title { height: 60px; line-height: 60px; font-weight: 700; font-family: "微软雅黑";font-size: 16px; color: #626262;}
.bor-b-da{ border-bottom:1px dashed #dbdbdb;}
.wux{ width: 16px; height: 16px; background:url(../images/star.jpg) left center  no-repeat; display: inline-block; position:relative;+top:-7px;}
.z-sprite{display: inline-block; background-image: url(../images/icon.gif); background-repeat: no-repeat;}
.z-lable_list a { border-radius: 2px; height: 30px; line-height: 30px; font-size: 14px; color: #333; margin-bottom: 15px;}
.z-formList { background: #fff;/* border: 1px solid #dbdbdb;*/}
.icon-colsed2 { width: 10px; padding-left: 10px; background:url(../images/icon-fl.png) 7px 9px no-repeat;}
.icon-colsed1 { width: 10px; padding-left: 10px; background: url(../images/icon-fr.png) 7px 9px no-repeat;}
.z-lable_list a:hover { border: 1px solid #0f82e4; color: #0f82e4;}
.z-lable_list .z-formList-active { background: #0f82e4;color: #fff;}
.z-lable_list .z-formList-active:hover{color: #fff;}
.z-lable_list .mt_+-20{ position:relative;+top:-40px; +margin-top:-40px;}
.icon_error {
    background-position: -9px -161px;
    width: 14px;
    height: 14px;
    margin-right: 8px;
    margin-left: 7px;
    vertical-align: middle;
}
/*批量新增精英 ----2----*/
.pad_7_15{ padding:8px 12px;}
.hoverbtn:hover{ background: #0f82e4;color: #fff;}
.padt-35{ padding-top:35px;}
.h-bgfff .border-no{ border:none;}
.mb40{ margin-bottom:40px;}

/*2016-3-7*/
.bor-t-d{ border-top:1px dashed #ccc;}
.w90{ width:90px;}
.cont-tab table tr,.cont-tab table tr td{ text-align:center;}
/*2016-03-17*/
.closex{ background-image:url(../images/icon-close2-qygl.png); width:16px; height:16px; float:right; display:inline-block; position:relative;    right: 15px;top: -27px}
.bg_dcefff{background: #dcefff;}
/*精英 切换简历状态*/
.closex{ background-image:url(../images/icon-close2-qygl.png); width:16px; height:16px; float:right; display:inline-block; position:relative;    right: 15px;top: -27px}
.bg_dcefff{background: #dcefff;}
.mb-15{ margin-bottom:15px;}
.clicked{background:url(../images/icon-tickblue.jpg) no-repeat;width: 14px;  height: 14px; text-align:center;  border: 1px solid #0f82e4;   position: relative; vertical-align:middle;}
.click{width: 14px;  height: 14px;  border: 1px solid #ccc;   position: relative; vertical-align:middle;}
.ml-65{ margin-left:65px;}
/*选择团队成员 修改 2016-06-06*/
div[zh=header]{height: 40px;  line-height: 40px;font: 16px/40px "微软雅黑";  text-indent: 15px; color: #fff;  background: #0f82e4;overflow: hidden;zoom: 1;   position: relative;}