@charset "gb2312";

/*******************************
************************************/
/*公共属性 start*/
.container { width:940px;margin:20px auto}
.center { margin:0 auto; display:block}
.txt-search { color:#cc0000}
.require-must { color:#F00;font-family: "SimSun"; margin-right:2px}
/*公共属性 end*/
/*特殊样式 start*/
.z-index-ie{ *position:relative; *z-index:9;}
.height_auto{ height:auto;}
.white_inherit{ white-space:inherit;}
/*特殊样式 end*/

/* 文本输入 start */
input,button,select,textarea{outline:none}
.textarea-wrap { position:absolute; right:102px; top:10px; overflow: hidden; background-color:#FFF; border:#d2d2d2 1px solid; width:270px;line-height:21px; padding:4px;
box-shadow: inset 0 1px 1px rgba(0,0,0,0.075)}
.well_text textarea { background-color:#FFF;   width:256px; height:16px; padding:5px; line-height:16px; position:initial; border:1px solid #fff}
.btn-tag{ border:1px solid #c1c1c1; background:url(../images/btn-tag-bg.png); margin-right:4px;display:inline-block; font-size:12px; height:22px; line-height:22px; padding:0 8px;-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
vertical-align:middle;
}
.btn-tag .case {width:230px;display:inline-block; 
overflow:hidden;
white-space: nowrap;
text-overflow: ellipsis;}
.tag-name .case { width:auto}
.icon-tagclose { background:url(../images/icon-tagclose.png) no-repeat; width:14px; height:14px;display:inline-block;margin-left:4px; margin-bottom:4px;
filter:alpha(opacity=50);   
opacity: 0.5; 
_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="../images/icon-tagclose.png",sizingMethod="scale");
}
.icon-tagclose:hover { filter:alpha(opacity=100);   
      opacity: 1;}
/* 文本输入 end */


/*提示条 start*/
.alert { font-size:12px; padding:8px 33px 8px 10px; border-radius: 2px; margin:0; line-height:26px;
text-shadow: none !important;
-webkit-border-radius: 2px;
-moz-border-radius: 2px;
border-radius: 2px;
border:none;
position:relative;
overflow: hidden;
color: #fff;
}
.alert-error {
background-color: #e2747e;
}
.alertSm{padding:4px 33px 4px 10px ;}
.alertSm .icon-panelclose{ top:10px; right:2px;}
.alert-success  {
background-color: #3fb34f;
}
.alert-info  {
background-color: #fbad40;
}
.alert-small { font-family:"微软雅黑"; font-size:18px; font-weight:bold; padding:16px; width:120px; text-align:center; vertical-align:middle;}
.icon-tips-error,.icon-panelclose,.icon-tips-success,.icon-tips-info,.icon-tips-info-large,.icon-panel-arrow,.icon-tips-success-large,.icon-tips-error-large{ display:inline-block; width:25px; height:26px; background-image:url(../images/icon-panel.png); vertical-align:middle; margin-right:10px;
}
.icon-panelclose { background:url(../images/icon-panelclose.gif) no-repeat; width:20px;height:20px; position:absolute; right:2px; top:13px;
}
.icon-tips-success { background-position:-25px 0;
}
.icon-tips-error{ background-position:-50px 0;
}
.icon-tips-info {background-position:0px 0;}
.trans-50 {filter:alpha(opacity=50);   
opacity: 0.5;}
.trans-50:hover {filter:alpha(opacity=100);;   
opacity: 1;}
.txt-link { color:#fff; text-decoration:underline; margin:0 6px}
.txt-link:hover{ color:#FFF;}

.textStyleA{ background-color:#fcf8e3; color:#8a6d3b; border:#faebcc solid 1px; padding:10px; line-height:22px; border-radius:4px;}
.textStyle_iconLD{ padding-left:36px; background:#fcf8e3 url(../images/iconLD.png) 16px 14px no-repeat;}
/*提示条 end*/


/*提示框 start*/
.panel { width:350px; margin-bottom:12px;}
.panel .panel-head { background:#fbad40; height:92px;position:relative; padding-top:20px; }
.panel .panel-head .icon-panelclose { right:-2px; top:10px} 
.panel .panel-head h2 { font-family:"微软雅黑"; font-size:16px; color:#fff; text-align:center; line-height:40px; }
.icon-tips-info-large { background-position:0 -26px; width:48px; height:50px; display:block; margin:0 auto;}
.icon-tips-success-large { background-position:-48px -26px; width:48px; height:50px; display:block; margin:0 auto;}
.icon-tips-error-large { background-position:-96px -26px; width:48px; height:50px; display:block; margin:0 auto;}
.icon-panel-arrow { background-position:0 -76px; position:absolute; left:163px; top:112px;_top:125px; width:21px; height:10px}
.panel-success .icon-panel-arrow { background-position:-22px -76px}
.panel-error .icon-panel-arrow { background-position:-44px -76px}
.panel-content{  border:1px solid #dbdbdb; background:#fff; }
.panel-content .panel-body{ border:none;}
.panel-body {border:1px solid #dbdbdb; background:#fff; padding:20px 30px 10px; margin-top:-1px; text-align:center}
.panel-body p { text-align:left; line-height:21px;}
.panel-body .txt-l { text-align:center}
.txt-strong {color:#fe7e01; margin-right:4px}
.txt-sub { color:#999}
.panel-success .panel-head { background:#3fb34f}
.panel-error .panel-head { background:#e2747e}

/*提示框 end*/


/*操作框 start*/
.operate { width:420px}
.operate .panel-head { background:url(../images/operate-head-bg.png); height:40px; position:relative; padding:0; border:1px solid #dbdbdb; line-height:40px;
height:40px}
.operate .panel-head h2 { color:#444; text-indent:1em; text-align:left; margin:0}
.operate .panel-head .icon-panelclose { background:url(../images/icon-paneloperateclose.gif) no-repeat; top:13px}
.panel-bottom { background:#f8f8f8; border:1px solid #dbdbdb; margin-top:-1px; padding:8px 20px; text-align:right}
.operate .btn-link { position:absolute; top:5px; right:45px}
/*操作框 end*/


/*表单样式 start*/
.form-case { margin-left:100px}
.form li { margin-bottom:16px; text-align:left}
.form .formtext{ margin-bottom:5px;}
.form .txt-c { text-align:center}
.form-small li { margin-bottom:6px;}
.form .form-label { width:110px; text-align:right; float:left; height:30px; line-height:30px; }
.form .form-body { text-align:left; margin-left:110px; padding-left:10px; line-height:30px;}
.form .form-body .form-body-text{ color:#999; height:30px; line-height:30px;}
.input{
border: 1px solid #cccccc;
-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
-webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
-moz-transition: border linear 0.2s, box-shadow linear 0.2s;
-o-transition: border linear 0.2s, box-shadow linear 0.2s;
transition: border linear 0.2s, box-shadow linear 0.2s;
-webkit-border-radius: 2px;
-moz-border-radius: 2px;
border-radius: 2px;
background:#fff url(../images/list2bg.png) repeat-x;
outline:none
}
.input-click {border: 1px solid rgb(250, 167, 51);}
.form_style_a .form-label{ width:66px;}
.form_style_a .form-body{ margin-left:66px;}
.form_style_a .input{ width:220px;}
.form_style_a .listfontBox3{ width:112px; float:left; margin-right:10px;}
.form_style_a .speedBut3{ width:98px;}
.form_style_a .list_k2{ width:106px;}

/*.tag-name .case { width:60px}
*/.message-wrap { position:relative; margin-bottom:50px;}
.message-wrap .input { height:56px; margin-bottom:4px}
.mesage-bar {background:url(../images/operate-head-bg.png);position: absolute; left:0; border:1px solid #dbdbdb; width:360px; _width:356px; top:58px;height:41px;}
.btn-bar { width:52px; height:42px; line-height:42px; border-right:1px solid #cdcdcd; padding:0 6px; color:#333;}
.btn-send { margin:7px 7px 0 0}
.num-wrap { margin:10px 4px 0 0}
.max-num { font-family:Tahoma, Geneva, sans-serif; font-size:16px}
.input-lg {padding: 10px;
font-size: 14px;color:#333; }

.formInput_width_m .input{ width:208px;}
/*表单样式 end*/

/*input弹出控件css+*/

.clearboth
{
	clear:both;
	}
.xialakuang,.shurukuang,.anniu
{
	margin-left:40px;
	float:left;
	}
.xialakuang_title,.shurukuang_title,.anniu_title
{
	font-family:"微软雅黑";
	font-size:24px;
	color:#b8b8b8;
	padding:15px 15px 15px 0px;
	}
.listfont
{
	font-size:12px;
	color:#333;
	cursor:pointer;
	}
.font14
{
	font-size:14px;
	}
.floatleft
{
	float:left;
	}
.floatleft1
{
	float:left;
	margin-top:2px;
	}
.floatright
{
	float:right;
	}
.floatright1
{
	float:right;
	margin-top:2px;
	}
.bq
{
	height:19px;
	background-image:url(../images/listbg.png);
	background-repeat:repeat-x;
	border:1px solid #c8c8c8;
	padding-top:3px;
	padding-left:12px;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	-khtml-border-radius:2px;
	border-radius:2px;
	}
.speedBut
{
	width:58px;
	height:22px;
	line-height:22px;
	background-image:url(../images/listbg.png);
	background-repeat:repeat-x;
	border:1px solid #c8c8c8;
	padding:0 6px;
	display:inline-block;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	-khtml-border-radius:2px;
	border-radius:2px;
	}
.speedBut2
{
	width:143px;
	height:28px;
	line-height:28px;
	background-image:url(../images/listbg.png);
	background-repeat:repeat-x;
	border:1px solid #c8c8c8;
	padding:0 6px;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	-khtml-border-radius:2px;
	border-radius:2px;
	}
.speedBut3
{
	width:208px;
	color:#999;
	height:28px;
	line-height:28px;
	background-image:url(../images/list2bg.png);
	background-repeat:repeat-x;
	border:1px solid #c8c8c8;
	padding:0 6px;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	-khtml-border-radius:2px;
	border-radius:2px;
	cursor:pointer;
	}
.list_k
{
	width:155px;
	border:1px solid #d0d0d0;
	padding:4px 0;
	background:#FFF;
	}
.list_k ul li{ float:inherit; clear:both; zoom:1;}
.list_k2
{
	width:220px;
	border:1px solid #d0d0d0;
	padding:4px 0;
	background:#FFF;
	}
.list_off
{
	height:20px;
	padding-top:7px;	
	}
.list_off2
{
	height:20px;
	padding-top:7px;
	padding-left:12px;	
	}
.list_on
{
	height:20px;
	background-color:#f3f3f3;
	padding-top:7px;

	}
.list_on2
{
	height:20px;
	background-color:#0088cc;
	padding-top:7px;
	color:#fff;
	padding-left:12px;
	}
/*
.s_input
{
	width:208px;
	height:26px;
	background-image:url(../images/list2bg.png);
	background-repeat:repeat-x;
	border:1px solid #c8c8c8;
	padding-top:4px;
	padding-left:12px;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	-khtml-border-radius:2px;
	border-radius:2px;
	}*/
.s_input_click
{
	width:208px;
	height:26px;
	background-image:url(../images/list2bg.png);
	background-repeat:repeat-x;
	border:1px solid #faa733;
	padding-top:4px;
	padding-left:12px;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	-khtml-border-radius:2px;
	border-radius:2px;
	}


.s_input_error
{
	width:208px;
	height:26px;
	background-image:url(../images/list2bg.png);
	background-repeat:repeat-x;
	border:1px solid #e2747e;
	padding-top:4px;
	padding-left:12px;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	-khtml-border-radius:2px;
	border-radius:2px;
	}

.d_input
{
	width:208px;
	height:40px;
	background-image:url(../images/list2bg.png);
	background-repeat:repeat-x;
	border:1px solid #c8c8c8;
	padding-top:4px;
	padding-left:12px;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	-khtml-border-radius:2px;
	border-radius:2px;
	line-height:38px;
	}

.s_input_off
{
	background-image:none;
	border:1px solid #c8c8c8;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	-khtml-border-radius:2px;
	border-radius:2px;
	background-color:#eeeeee;
	color:#b6b6b6;
	}
.s_input_d
{
	width:208px;
	height:76px;
	background-image:url(../images/list2bg.png);
	background-repeat:repeat-x;
	border:1px solid #c8c8c8;
	padding-top:4px;
	padding-left:12px;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	-khtml-border-radius:2px;
	border-radius:2px;
	}

.alertbg
{
	display:inline-block;
	background-color:#fbad40;
	font-size:12px;
	color:#fff;
	padding:5px 10px 5px 10px;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	-khtml-border-radius:2px;
	border-radius:2px;
	}

.errorbg
{
	display:inline-block;
	background-color:#e37781;
	font-size:12px;
	color:#fff;
	padding:5px 10px 5px 10px;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	-khtml-border-radius:2px;
	border-radius:2px;
	line-height: 18px;
	height:18px;
	}
.point-box
{
	display:inline-block;
	background-color:#e37781;
	font-size:12px;
	color:#fff;
	padding:6px 10px 6px 10px;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	-khtml-border-radius:2px;
	border-radius:2px;
	margin-bottom:10px;
	background-image:none;
	line-height: 18px;
	}
/*按钮 start*/	
.icon_an_left
{
	float:left;
	background-position:-48px -25px;
	width:4px;
	height:24px;
	float:left;
	}
.icon_an_right
{
	float:left;
	display:block;
	background-position:-67px -25px;
	width:5px;
	height:24px;
	float:left;
	}
.icon_an_center
{
	float:left;
	background-image:url(../images/an.png);
	background-repeat:repeat-x;
	height:20px;
	font-size:12px;
	color:#fff;
	padding-top:4px;
	min-width:75px;
	text-align:center;
	}

.icon_an_left_normal,.icon_an_left_off
{
	float:left;
	background-position:-115px -25px;
	width:4px;
	height:24px;
	float:left;
	}
.icon_an_right_normal,.icon_an_right_off
{
	float:left;
	display:block;
	background-position:-134px -25px;
	width:5px;
	height:24px;
	float:left;
	}
.icon_an_center_normal,.icon_an_center_off
{
	float:left;
	background-image:url(../images/annormal.png);
	background-repeat:repeat-x;
	height:20px;
	font-size:12px;
	color:#333;
	padding-top:4px;
	min-width:75px;
	text-align:center;
	}

.icon_an_left2
{
	float:left;
	background-position:-48px -68px;
	width:4px;
	height:32px;
	float:left;
	}
.icon_an_right2
{
	float:left;
	display:block;
	background-position:-67px -68px;
	width:5px;
	height:32px;
	float:left;
	}
.icon_an_center2
{
	float:left;
	background-image:url(../images/an1.png);
	background-repeat:repeat-x;
	height:24px;
	font-size:12px;
	color:#fff;
	padding-top:8px;
	min-width:75px;
	text-align:center;
	}

.icon_an_left2_normal,.icon_an_left2_off
{
	float:left;
	background-position:-115px -68px;
	width:4px;
	height:32px;
	float:left;
	}
.icon_an_right2_normal,.icon_an_right2_off
{
	float:left;
	display:block;
	background-position:-134px -68px;
	width:5px;
	height:32px;
	float:left;
	}
.icon_an_center2_normal,.icon_an_center2_off
{
	float:left;
	background-image:url(../images/an1normal.png);
	background-repeat:repeat-x;
	height:24px;
	font-size:12px;
	color:#333;
	padding-top:8px;
	min-width:75px;
	text-align:center;
	}

.icon_an_left3
{
	float:left;
	background-position:-48px -113px;
	width:4px;
	height:44px;
	float:left;
	}
.icon_an_right3
{
	float:left;
	display:block;
	background-position:-67px -113px;
	width:5px;
	height:44px;
	float:left;
	}
.icon_an_center3
{
	float:left;
	background-image:url(../images/an2.png);
	background-repeat:repeat-x;
	height:30px;
	font-size:12px;
	color:#fff;
	padding-top:14px;
	min-width:75px;
	text-align:center;
	}
	
.icon_an_left3_normal,.icon_an_left3_off
{
	float:left;
	background-position:-115px -113px;
	width:4px;
	height:44px;
	float:left;
	}
.icon_an_right3_normal,.icon_an_right3_off
{
	float:left;
	display:block;
	background-position:-134px -113px;
	width:5px;
	height:44px;
	float:left;
	}
.icon_an_center3_normal,.icon_an_center3_off
{
	float:left;
	background-image:url(../images/an2normal.png);
	background-repeat:repeat-x;
	height:30px;
	font-size:12px;
	color:#333;
	padding-top:14px;
	min-width:75px;
	text-align:center;
	}
.disabled { background:#efefef; color:#7b7b7b; cursor: default;}
.btn.disabled { background:#efefef; color:#7b7b7b; cursor: default;}

/*.btn-primary {background:url(../images/btn-primary-bg.png)}
.btn-primary:hover, .btn-primary:active, .btn-primary.active, .btn-primary.disabled{
	color:#fff;
*background-color:#df8505;
 background-position:0 0
}*/
		
/*sprite*/
.sprite
{
	display: inline-block;
	background-image:url(../images/icon.gif);
/*	_background-image:url(../images/icon.gif);
*/	background-repeat:no-repeat;
}
.icon_arrow_up
{
	background-position:-9px -10px;
	width:7px;
	height:6px;
	top:12px;
	right:8px;
	}
	
.icon_arrow_down
{
	background-position:-28px -10px;
	width:7px;
	height:6px;
	top:9px;
	right:8px;
	}
	
.icon_jj
{
	background-position:-9px -25px;
	width:10px;
	height:12px;
	left:7px;
	top:6px;
	}
.icon_scj
{
	background-position:-9px -46px;
	width:12px;
	height:12px;
	left:7px;
	top:6px;
	}
.icon_hmd
{
	background-position:-9px -67px;
	width:11px;
	height:13px;
	left:7px;
	top:6px;
	}
.icon_arrow
{
	background-position:-48px -5px;
	width:6px;
	height:9px;
	top:8px;
	right:6px;
	}
.icon_arrow_list
{
	background-position:-9px -91px;
	width:11px;
	height:11px;
	top:8px;
	right:8px;
	}
.icon_close
{
	background-position:-85px -170px;
	width:14px;
	height:15px;
	margin-right:8px;
	margin-left:7px;
	}


	
.icon_alert
{
	background-position:-9px -113px;
	width:14px;
	height:14px;
	margin-right:8px;
	margin-left:7px;
	vertical-align:middle;
	}
.icon_ok
{
	background-position:-9px -137px;
	width:14px;
	height:14px;
	margin-right:8px;
	margin-left:7px;
	vertical-align:middle;
	}

.icon_error
{
	background-position:-9px -161px;
	width:14px;
	height:14px;
	margin-right:8px;
	margin-left:7px;
	vertical-align:middle;
	}
.icon_arrow_alert
{
	background-position:-85px -4px;
	width:5px;
	height:10px;
	top:8px;
	left:-5px;
	}

.icon_arrow_error
{
	background-position:-114px -4px;
	width:5px;
	height:10px;
	top:8px;
	left:-5px;
	}
a.icon_close_da
{
	display:inline-block;
	background-image:url(../images/icon.gif);
	background-repeat:no-repeat;
	background-position:-48px -163px;
	width:24px;
	height:23px;
	position:absolute;
	margin-left:-33px;
	top:9px;_top:11px;
	filter:alpha(opacity=40); -moz-opacity:0.4; opacity:0.4;
	}
a.icon_close_da:hover
{
	background-position:-48px -163px;
	filter:alpha(opacity=100); -moz-opacity:0.4; opacity:1;
	}
.icon_close_small
{
	background-position:-85px -170px;
	width:14px;
	height:15px;
	position:absolute;
	margin-left:-23px;
	margin-top:7px;_margin-top:9px;

	}
.icon_arrow_up2
{
	display:block;
	background-position:-28px -26px;
	width:11px;
	height:6px;
	top:30px;
	left:12px;
	}
	
	
	
/**/
.icon-f1, .icon-packup, .icon-packdown, .oper-add,.oper-set,.oper-see,.oper-delete, .oper-change, .oper-inthered, .oper-up, .oper-down, .f1-add,.icon-folder {
background-image: url(../images/rec-nav-icon-new.gif?20150528);
/* background: url(../images/rec-nav-icon.png) no-repeat 0 0; */
}
.list_k  .icon-f1{
	display:inline-block;
	position:absolute;
	overflow:hidden;
	top:7px;
	left:8px;
}

.list_k .icon-f1-a{ width:22px; height:16px;  background-position:0px 0px;}
.list_k .icon-f1-b{ width:10px; height:12px; background-position:0px -16px; }
.list_k .icon-f1-c{ width:12px; height:12px; left:7px; background-position:0px -28px;}
.list_k .icon-f1-d{ width:12px; height:12px; left:7px; background-position:0px -40px;}
.list_k .icon-f1-e{ width:11px; height:12px;  background-position:0px -80px;}

.list_k .ShowListUnitA {
height: 26px;
line-height: 26px;
display: block;
padding-left: 24px;
*width:96px;
}
/**/
.dropdown{ position:relative; z-index:auto}
.i-login-con .dropdown{ z-index:9999}
.dropdown-menu {
position: absolute;
top: 100%;
left: 0;
z-index: 1000;
float: left;
min-width: 160px;
_width: 160px;
padding: 5px 0;
margin: 2px 0 0;
list-style: none;
background-color: #fff;
border: 1px solid #ccc;
border: 1px solid rgba(0,0,0,0.2);
-webkit-border-radius: 2px;
-moz-border-radius: 2px;
border-radius: 2px;
-webkit-box-shadow: 0 5px 10px rgba(0,0,0,0.2);
-moz-box-shadow: 0 5px 10px rgba(0,0,0,0.2);
box-shadow: 0 5px 10px rgba(0,0,0,0.2);
-webkit-background-clip: padding-box;
-moz-background-clip: padding;
background-clip: padding-box;
}
.dropdown-menu li a {
display: block;
padding: 3px 20px;
clear: both;
font-weight: normal;
line-height: 20px;
color: #333;
white-space: nowrap;
}
.dropdown-menu li a:hover {
color: #fff;
text-decoration: none;
background-color: #0081c2;}
.pa { position:absolute}
.listfontBox1{ width:72px; height:24px;}
.listfontBox2{ width:157px; height:30px;}
.listfontBox3{ width:222px; height:31px;}
.listfontBox4{ width:222px; height:31px;}
.listfontBox5{ width:72px; height:24px;}
.chickShowList1{ top:23px; left:0px; z-index:999;}
.chickShowList2{ top:29px; left:0px; z-index:999;}
.chickShowList3{ top:29px; left:0px; z-index:999;}
.chickShowList4{ top:29px; left:0px; z-index:999; height:220px; overflow-y:scroll; overflow-x:hidden; padding-bottom: 10px;}

/*输入联想下拉样式*/
.parallel_st{ margin-right:6px;}
.listTextBox{}
.listTextBox .input{ width:160px;}
.text_downList{ position:absolute; left:0px; top:29px; background-color:#FFF; min-width:172px; border: 1px solid #d0d0d0; padding:4px 0;
	max-height: 280px;
	overflow-y: auto;
	overflow-x: hidden;
}
.text_downList .text_downList_unit{ height:26px; line-height:26px; display:block; padding:0 6px; color:#333;}
.text_downList .text_downList_unit:hover{ background-color:#0088cc; color:#FFF;}
.input-box-dd .parallel_st .tc-select {
  width: 160px;
}
.parallel_st .speedBut3 {
  width: 160px;
}
.parallel_st .listfontBox3 {
  width: 174px;
}
.parallel_st .list_k2 {
  width: 172px;
}
.chickShowList1 a{ text-decoration:none;}
.ShowListUnitA{ height:26px; line-height:26px; display:block; padding-left:30px;}
.ShowListUnitA:hover{ background-color:#eee;}
.ShowListUnitA2{ height:26px; line-height:26px; display:block; padding-left:6px; text-decoration:none;}
.ShowListUnitA2:hover{ background-color:#0088cc; color:#FFF;}
.btn-sm{ padding:1px 10px;}
.btn-lg{ padding:11px 28px; font-size:14px; font-weight:bold}
.btn-invite {
color: #fff;
text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
background-color: #006dcc;
background-image: -moz-linear-gradient(top,#08c,#146fdb);
background-image: -webkit-gradient(linear,0 0,0 100%,from(#08c),to(#146fdb));
background-image: -webkit-linear-gradient(top,#08c,#146fdb);
background-image: -o-linear-gradient(top,#08c,#146fdb);
background-image: linear-gradient(to bottom,#08c,#146fdb);
background-repeat: repeat-x;
border-color: #04c #04c #002a80;
border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc',endColorstr='#ff0044cc',GradientType=0);
filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}
.btn-invite:hover { background:#146fdb; color:#fff}

.hoverShowList2{ top:0px; left:155px; background:#FFF; border: 1px solid #d0d0d0;}
.hoverShowList2 li{ height:26px; line-height:26px;}
.hoverShowList3{ top:14px; left:251px; background:#FFF; border: 1px solid #d0d0d0;}
.hoverShowList3 li{ height:26px; line-height:26px;}
.hoverShowList4{ top:28px; left:382px; background:#FFF; border: 1px solid #d0d0d0;}
.hoverShowList4 li{ height:26px; line-height:26px;}
.hoverListUnitA{ width:120px; height:26px; line-height:26px; display:block; color:#333;  padding-left:10px;}
.hoverListUnitA:hover{ background-color:#eee;}
.chickOnList{background-color:#eee;}
.hoverListUnitA span{ display:inline-block; float:left; color:#999;}
.hoverListUnitA .hoverListText{ color:#333; _width: expression(this.offsetWidth > 80 ? '80px': true); max-width:80px; white-space: nowrap; -o-text-overflow: ellipsis; text-overflow: ellipsis; overflow: hidden;}


.form-tag li{ margin-bottom:0px; clear:both; zoom:1;}
.form-tag .form-label{ width:40px;}
.form-tag .form-body{ margin-left:40px;}
.form-tag .message-wrap{ margin-bottom:-1px; width:350px;_width:346px; padding:5px; border: 1px solid #cccccc;}
.form-tag .mesage-bar{ top:0}
.form-tag .clearfixPoint{ left:-1px; bottom:41px; z-index:5;}
.form-tag .message-wrap textarea {
background-color: #FFF;
width: 340px;_width: 330px;
height:32px;
padding:5px;
line-height: 16px;
border: 1px solid #fff;
}
.form-tag .form-body span{ margin-bottom:10px; padding-right:22px}
.Pat_present{ background:#FFF; height:41px;}
/*input弹出css结束*/
.textareaDiv{ color:#999;}

/*提示框*/
.point-sm {top:-38px; left:-8px;}
	
/*wn519+++*/

/*ie6下去除checkbox框*/
.form-filter .checkbox{_border:none;}

/*弹出框关闭按钮背景*/
.panel .panel-head{ position:relative;  }
.panel .panel-head .close_ie {
position: absolute;
width: 16px;
height: 16px;
right: 6px;
top: 6px;
background: url(../images/icon-close2.png) no-repeat -16px 0 ;
opacity: 1;
filter:alpha(opacity=100);
margin:0;
display:inline-block;
}
.panel .panel-head .close_ie:hover {
/*background: none repeat scroll 0 0 rgba(255, 161, 5, 80);*/
background: url(../images/icon-close2.png) repeat 0 0; 
}
.panel-body-normal .well .input-text{ overflow:hidden; _width:450px;}

.alert,.panel-head{ zoom:1; }
.alert .alelt_close_ie {
	opacity: 0.2; font-size:14px; padding:0 2px; filter:alpha(opacity=20); color:#333; display:inline-block; padding:0 5px; position: absolute; right:10px;
}
.alert .alelt_close_ie:hover{ background:#ffa105; color:#fff; opacity: 1; border-radius:2px; filter:alpha(opacity=100);}



.controls .span2-s{ width:130px; margin-right:10px;}
.control-group .btn-s{ padding:3px 10px;}

.w_close_ie{ display:block;}
.w_close_ie:hover{
	background:url(../images/icon-close.png) repeat -22px 0;
}
/**/
.modal-header{ position:relative; zoom:1;}
.modal-header .w_close_ie{ right:10px; top:10px;}
.modal-header h3{ margin:5px 0px 0px; line-height:20px;}
/**html .modal-header .w_close_ie:hover{ background:url(../images/icon-close.png) repeat -22px 0;}
*/

/*弹出控件*/

.new_selected{
padding:0px 5px;
zoom:1;
width:700px;
}
.modal-header h3 {
font-size: 14px;
padding-right:10px;
}

.company_list li{
	width:186px;
	word-break:keep-all;/* 不换行 */
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
}
*html .modal-header h3{ display:inline-block; width:70px;}
*html .new_selected{ width:300px;}
*html .new_selected input { vertical-align:middle;}

.butRightTop{ position:absolute; right:10px; top:10px;}

/**/
.suggest_link{ width:31px; height:63px; display:block; background:url(../images/suggest_link.png);}
.suggest_link:hover{background:url(../images/suggest_link_hover.png);}
	
/**/
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    #ccc;
}
	
/*分配*/
.panel-fp{ margin:0px;}
.panel-fp tr td{ padding:2px 4px;}
.panel-fp .pagination{ margin:0px 0px 10px 0px;}
/*icon 小三角*/
.sorting_down,
.sorting_up,
.sorting_updown{ width:16px; height:16px; display:inline-block; background-image:url(../images/sorting_icon.png); vertical-align:middle;}
.sorting_down{ background-position:0 0;}
.sorting_up{ background-position:0 -16px;}
.sorting_updown{ background-position:0 -32px;}

/**/
.popup-people-list{ text-align:left;}
/*分享icon*/
.share-icon21{ display:inline-block; width:21px; height:21px; overflow:hidden; background-image:url(../images/icon-share.png);}
.icon21-weiixn{ background-position:0 0; margin-right:6px;}
.icon21-tuijian{ background-position:21px 0;}
.share-popup-inner .icon-panelclose { background:url(../images/icon-paneloperateclose.gif) no-repeat; top:13px}

.tuijian-popup-list{ }
.search-tj{ padding-bottom:10px; margin-bottom:10px; border-bottom:#cccccc 1px dashed;}
.selected-tuijian{ overflow:hidden; clear:both;}
.selected-tuijian label{ float:left; width:40px; padding: 2px 0 0 10px;text-align:right;margin: auto}
.selected-tuijian .form-body{ float:left; text-align:left; width:600px;}
.selected-tuijian .form-body span {
  margin-bottom: 10px;
  padding-right: 22px;
}
/*新增关闭icon*/
.icon-close3{ display:inline-block; width:16px; height:16px; overflow:hidden; background:url(../images/icon-close3.png) right top no-repeat;}
.icon-close3:hover{ background:url(../images/icon-close3.png) left top no-repeat;} 
/*添加删除*/  
.fn-icon50{ width:50px; height:50px; display:inline-block; overflow:hidden; background-image:url(../images/icon-fn.png);}
.fn-icon-add{ background-position:0 -50px;}
.fn-icon-add:hover{ background-position:0 0;}
.fn-icon-select{ background-position:-50px -50px;}
.fn-icon-select:hover{ background-position:-50px 0px;}
/*选择共享文件夹*/
.folder-list-top{ padding:10px;}
.folder-list{}
.folder-list-title{  background: url(../images/operate-head-bg.png); height:30px; line-height:30px; border:#cdcdcd 1px solid; border-width:1px 0px; padding:0 20px; color:#666666;}
.folder-list ul{ margin:10px 0;}
.folder-list li label{ display:block; padding-left:20px; line-height:28px;}
.folder-list li label:hover{ background-color:#f2f2f2; cursor:pointer;}
.folder-scoll{ overflow-y:auto; max-height:380px;}
/*弹出海报*/
.popup-banner{ position:absolute;}
.hdPic01{ width:660px; height:460px;}

/*tab*/
.tabStyleA{ border-bottom:#dbdbdb solid 1px;}
.tabStyleA ul{ margin-left:28px;}
.tabStyleA li{ float:left; height:30px; line-height:30px; padding:0 18px; background-color:#f8f8f8; margin-left:9px; border:#dbdbdb solid 1px; border-bottom:none; padding-top:2px; cursor:pointer; position:relative;}
.tabStyleA .active{ padding-top:0; background-color:#FFF; border-top:#146fdb solid 3px; color:#146fdb; border-bottom:#FFF solid 1px; margin-bottom:-1px;}
.tab_color_blue .active{ border-top:#ffa40d solid 3px; color:#ffa40d;}

.search-tj-set{ text-align:left;}
.search-tj-set li label{ display:inline-block; width:116px;}
/*case管理 导航 下拉*/
.header_bottom .nav li a.case-a:hover { background-color: #2d2d2d;  color: #fff;}
.header_bottom .nav li a.case-a { color: #fff;  line-height: 36px;height: 36px;background: #333;}

/*  上传文件按钮  */
.upload-file{width:70px;line-heiht:28px;}
.input-position{width:72px; height:28px; overflow:hidden; position:absolute; top:2px; right:0;z-index:900; text-align: right;}
.input-opctiy{filter:alpha(opacity:0);opacity:0;cursor:pointer;font-size:24px;position:absolute; top:0px; right:0; height: 30px;}

